<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}010PHP | The PHP User Group of Rotterdam!{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('img/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('img/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('img/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('img/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('img/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('img/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('img/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('img/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('img/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('img/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <meta name="msapplication-TileImage" content="{{ asset('img/ms-icon-144x144.png') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Theme file -->
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header id="header">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('img/logo/logo-small.png') }}" alt="010PHP The Usergroup of Rotterdam!" class="img-responsive logo">
        </a>
    </div>
    <div class="navbar-holder">
    {% include('WebsiteBundle:layout:navbar.html.twig') %}
    </div>
</header><!--/#header-->
<section id="banner" style="background-image: url('https://a248.e.akamai.net/secure.meetupstatic.com/photos/event/1/e/f/9/highres_452287929.jpeg');"></section>
<!--/#banner -->
<section id="content">
    <div class="container">
        <div class="box last">
            <div class="row">
                <div class="col-lg-9">
                    {#{% include('WebsiteBundle:layout:meetup-countdown.html.twig') %}#}
                    {% block body %}{% endblock %}
                    {% include('WebsiteBundle:layout:sponsors.html.twig') %}
                </div>
                <div class="col-lg-3">
                    {% include('WebsiteBundle:layout:sidebar.html.twig') %}
                </div>
            </div>
        </div>
    </div>
</section>
{% include('WebsiteBundle:layout:footer.html.twig') %}
</body>
</html>