<div class="row">
    <div class="col-lg-12 center">
        <h2>We'd like to introduce you to our sponsors!</h2>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <a href="https://blog.caroga.net" title="Caroga.net">
                    <img src="{{ asset('img/sponsors/caroga.png') }}" class="img-responsive" title="Caroga.net"
                         alt="Caroga.net">
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://devize.nl/" title="Devize">
                    <img src="{{ asset('img/sponsors/devize.png') }}" class="img-responsive" title="Devize"
                         alt="Devize">
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://www.jetbrains.com/" title="JetBrains">
                    <img src="{{ asset('img/sponsors/jetbrains.png') }}" class="img-responsive" title="JetBrains"
                         alt="JetBrains">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="http://www.web-spot.nl" title="Web-Spot B.V.">
                    <img src="{{ asset('img/sponsors/web-spot.png') }}" class="img-responsive"
                         title="Web-Spot Internet Solutions" alt="Web-Spot Internet Solutions">
                </a>
            </div>

            <div class="col-md-4">
                <a href="http://ece.nl/" title="ECE Campus">
                    <img src="{{ asset('img/sponsors/ece.png') }}" class="img-responsive" title="ECE Campus"
                         alt="ECE CAmpus">
                </a>
            </div>
        </div>
    </div>
</div>